<li id = "list_<%=list.id %>">
	<b> <%= list.user.name %>'s  list</b>

	<%= link_to 'delete this list', list, :method => :delete, :remote => true, :class => 'delete-list' %>
	
	<div class="form-new-task">
		<b>New Task:</b>
		<%= render partial: 'tasks/form_new', :locals => {:list_id => list.id} %>
	</div>
	
	<div class="tasks">
		<% if list.tasks.count > 0 %>
				<%= render list.tasks %>
		<%end%>
	</div>
</li>